@model int

<li class="nav-item">
    <a class="nav-link position-relative" href="/cart/index">
        <i title="Giỏ hàng" class="fas fa-shopping-cart me-1"></i>
        @if (Model > 0)
        {
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model
            </span>
        }
    </a>
</li>

